<div class="critique-card">
  <div class="top-icons">
    <img class="icon" src="assets/img/card-message-icon.svg"/>
    <img class="icon settings-icon" src="assets/img/settings-icon.svg"/>
  </div>

  <h2 class="story-title">A Song of Ice and Fire: A Game of Thrones</h2>
  <img src="assets/img/profilePic.svg" class="author-pic"/>
  <h3 class="author-name">George R. R. Martin</h3>

  <hr class="clear"/>

  <div class="entry">
    <div class="entry-name">
      George accepted
    </div>
    <div class="entry-date">
      Jan 23, 2017
    </div>
    <div class="entry-action">
      <button {{action "#"}} class="action-button">Continue Critique</button>
    </div>
    <hr />
  </div>

  <div class="entry">
    <div class="entry-name">
      George accepted
    </div>
    <div class="entry-date">
      Jan 23, 2017
    </div>
    <div class="entry-action">
      <a href="#">a_game_of_thrones_draft.pdf</a>
    </div>
    <hr />
  </div>
</div>
