<div class="sign-up-progress">
  <div id="progress-bar"></div>
  <div id="background-bar"></div>
  <div id="current-section"></div>
  <div id="section-group">
    <div id="section1" class="section current"></div>
    <div id="section2" class="section "></div>
    <div id="section3" class="section"></div>
    <div id="section4" class="section"></div>
    <div id="section5" class="section"></div>
    <div id="section6" class="section"></div>
  </div>
</div>
