@import "reset";
@import "fonts";
@import "nav";
@import "footer";
@import "matches";
@import "signup";
@import "login";

$bodyFont : "Lato";
$displayFont : "aleobold";

$browser-context: 16px;

$textColor: #4A4A4A;

html{
  font-size: $browser-context;
  height:100%;
}

body{
  font-family: $bodyFont;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  //font-size: 1.25em;
  line-height: 2.063em;
  color:#4A4A4A;
}

h2 {
  font-family: $displayFont;
  font-size: 2.25em;
}

h3 {
  font-family: $displayFont;
  font-size: 1.375em;
}
