footer{
  //border-top:0px solid #4A4A4A;
  height:200px;
  background:#dcdfda;

  ul{
    padding-top: 20px;
    margin-bottom: 10px;
    text-align: center;

    li{
      display: inline-block;
      margin-left: 15px;


      a:link{
        color:#4A4A4A;
        text-decoration: none;
      }
    }
  }
  #social-block{
    width:75px;
    margin:0 auto;


    .social-icon{
      width:30px;
      vertical-align: middle;
      display:inline-block;
      text-align: center;
    }
  }

  #copyright{
    text-align: center;
  }
}
