$grey:#dcdfda;
$orange: #FF8A65;
$darkgrey: #4A4A4A;

#login{
  background: $grey;
}

#login-nav{
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  height:48px;
  background: none;
  box-shadow: none;

  #logo{

    display: none;
  }

  #logo-partial{
    margin-left: 10px;
    margin-top:5px;
    display: inline-block;
  }
  #sign-in-block{
    float:right;
    margin-right: 10px;
    cursor:pointer;
    #sign-in{
      display: inline-block;
      font-weight: 600;
      margin-top: 5px;
    }
    #nav-sign-up{
      text-decoration: none;
      display: inline-block;

      margin-top: 5px;
      font-weight: 600;
      color:$darkgrey;

    }

  }
}

/********************** SIGN IN MODAL ********************/
.ember-modal-dialog {
  margin-top:55px;
  width:300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  padding: 10px;

  #login-bits{
    width:100%;

    input{
      border-radius: 3px;
      border:1px solid $grey;
      padding:10px;
      font-size: 1em;
      display:block;
      margin-bottom:10px;
      width:calc(100% - 20px);
      max-width: 340px;
    }
    input:focus{
      background-color: #fff;
    }
  }
}
.ember-modal-overlay.translucent {
  background-color: rgba(#808080, .77);
}

.ember-modal-overlay {
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 50;
}
.ember-modal-dialog {
  z-index: 50;
  position: fixed;

  &.ember-modal-dialog-in-place {
    position: static;
  }
}


/**********************   HERO   ******************/

#hero {
  position:relative;
  width:100%;
  height:100vh;
  background-color: $grey;
  background-image: url("img/hero.png");
  background-size: auto 100%;
  background-position: center;

  #overlay{
    // z-index: 5;
    // position: absolute;
    // width:100%;
    // height:100%;
    // //background-color: rgba(0,0,0,0.1);
    // background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }

  #hero-tag{
    z-index: 10;
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.25em;
    min-width: 260px;
    color:#fff;
    -webkit-filter: blur(0.000001px);
    //background-color: rgba(0,0,0,0.6);
    //text-shadow: 0 1px 4px rgba(0,0,0,0.7);
    padding: 20px 0;
  }
}

.button{
  z-index: 5;
  position: absolute;
  bottom:15%;
  left:50%;
  text-decoration: none;
  //font-family: aleoregular;
  color:#fff;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  background-color: $orange;
  border-radius: 3px;
  border:1px solid $orange;
  margin-top:20px;
  padding:2px 5px;
  cursor:pointer;
  width:180px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

#wrapper{
  background-color: $grey;
  .value-prop{
    img{
      width:100%;
      max-width:500px;
    }
    div{
      h4{
        padding:0 20px 10px 20px;
        font-weight: 600;
      }
      div{
        padding:0 20px;
      }
    }
  }
}


@media (min-width:500px){
  #login-nav{
    height:65px;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;

    #logo{
      margin-left: 10px;
      margin-top: 15px;
      display: inline-block;
    }

    #logo-partial{
      display: none;
    }

    #sign-in-block{
      #sign-in{
        display: inline-block;
        font-weight: 600;
        margin-top: 15px;
      }
      #nav-sign-up{
        margin-top: 15px;
      }
    }
  }

  .button{
    font-size: 1.125em;
    width:230px;
    bottom:auto;
    top:calc(10% + 60px);
  }
}



@media (min-width:1000px){
  #login-nav{
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    left:50%;
    transform: translateX(-50%);

    #logo{
      margin-left: 10px;
      display: inline-block;
    }

    #logo-partial{
      display: none;
    }
  }

  #spacer{
    background: $grey;
    position: relative;
    display:inline-block;
    width:20%;
    height:80vh;
  }

  #hero {
    position:relative;
    display:inline-block;
    width:80%;
    height:80vh;
    background-image: url("img/heroFull.png");
    background-size: auto 100%;
    background-position: left top;
    background-repeat: no-repeat;
  }

  #hero-text{
    position: absolute;
    top:0;
    max-width: 1640px;
    height:80vh;
    width:100%;
    margin: 0 auto;
    position: absolute;
    left:50%;
    transform: translateX(-50%);

    #hero-tag{
      position: absolute;
      top:25%;
      left:9%;
      font-size: 2.125em;
      width:400px;
      text-align: left;
      line-height: 1.25em;
      color:$darkgrey;
      transform: none;
    }

    #tag-line{
      position:absolute;
      top:calc(25% + 100px);
      font-size: 20px;
      width:450px;
      line-height: 26px;
      left:9%;
    }

    .button{
      font-size: 1.125em;
      width:230px;
      bottom:auto;
      top:calc(25% + 180px);
      left:0;
      margin:0;
      left:9%;
    }
  }

  #wrapper{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom:50px;
    display: flex;
    padding-bottom:100px;

    .value-prop{
      position:relative;
      margin:0 1.5%;
      height:auto;
      width:30%;
      line-height: 1.675em;

      img{
        width:90%;
        padding: 5%;
        margin-bottom: 20px;
      }
      .value-prop-text{

        h4{
          font-size: 20px;
          padding:0 20px 10px 20px;
          font-weight: 600;
        }
        .point{
          padding:0 20px;
        }
      }
    }
  }
}
