$grey:#dcdfda;
$orange: #FF8A65;
$darkgrey: #4A4A4A;

#login{
  background: $grey;
}

#login-nav{
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  height:48px;
  background: none;
  box-shadow: none;

  #logo{
    display: none;
  }

  #logo-partial{
    margin-left: 10px;
    margin-top:5px;
    display: inline-block;
  }
  #sign-in-block{
    float:right;
    margin-right: 10px;
    cursor:pointer;
    #sign-in{
      display: inline-block;
      font-weight: 600;
      margin-top: 5px;
    }
    #nav-sign-up{
      text-decoration: none;
      display: inline-block;

      margin-top: 5px;
      font-weight: 600;
      color:$darkgrey;

    }

  }
}

/********************** SIGN IN MODAL ********************/
.ember-modal-dialog {
  margin-top:55px;
  width:300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px #222;
  padding: 10px;

  #login-bits{
    width:100%;
    label{
      position: absolute;
      z-index: -5;
    }

    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
    }
    input{
      border-radius: 3px;
      border:1px solid $grey;
      padding:10px;
      font-size: 1em;
      display:block;
      margin-bottom:10px;
      width:calc(100% - 20px);
      max-width: 340px;
      background-color: #fff;
    }
    input:focus{
      background-color: #fff;
    }
  }
}

.ember-modal-wrapper{
  position:relative;
}

.ember-modal-overlay.translucent {
  z-index: 1000;
  position: fixed;
  width:100%;
  height:100vh;
  background-color: rgba(#000, .77);
}

.ember-modal-overlay {
  height: 100vh;
  position: absolute;
  z-index: 50;
}
.ember-modal-dialog {
  position:fixed;
  padding:60px 40px 30px 40px;
  top:50%;
  left:50%;
  z-index: 50;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.29);

  .close{
    //
    height:20px;
    position: absolute;
    right:20px;
    top:20px;
    cursor:pointer;
  }

  h2{
    text-align: center;
    margin-bottom: 40px;
  }

  a:link{
    color:$orange;
  }

  a:visited{
    color:$orange;
  }

  &.ember-modal-dialog-in-place {
    position: static;
  }
}


/**********************   HERO   ******************/

#hero {
  position:relative;
  width:100%;
  height:100vh;
  background-color: $grey;
  background-image: url("img/hero-small.png");
  background-size: auto 100%;
  background-position: center;

  #overlay{
    // z-index: 5;
    // position: absolute;
    // width:100%;
    // height:100%;
    // //background-color: rgba(0,0,0,0.1);
    // background: linear-gradient(to bottom, rgba(0,0,0,0) 10%,rgba(0,0,0,0.5) 30%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}
#hero-text{
  #hero-tag{
    z-index: 10;
    position: absolute;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    line-height: 1.25em;
    width:250px;

    color:$darkgrey;
    -webkit-filter: blur(0.000001px);
    //background-color: rgba(0,0,0,0.6);
    //text-shadow: 0 1px 4px rgba(0,0,0,0.7);
    padding: 20px 0;
  }

  #tag-line{
    position:absolute;
    top:calc(10% + 65px);
    left:50%;
    transform: translateX(-50%);
    font-size: 18px;
    text-align: center;
    width:400px;
    line-height: 26px;
    display: none;
  }
}



.button-style{
  z-index: 5;
  text-decoration: none;
  font-family: aleoregular;
  color:#fff;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  background-color: $orange;
  border-radius: 3px;
  border:1px solid $orange;
  padding:10px 10px;
  cursor:pointer;
  //box-shadow: 0 2px 4px rgba(0,0,0,0.29);
  border: 1px solid rgba(#000, .05);
  background-image:linear-gradient(-180deg,#FFB793 0%, #FF8A65 100%);
}

.button-style:hover {
  background: darken($orange, 3%);
  border: 1px solid rgba(#000, .05);
  //box-shadow: 1px 1px 2px rgba(#000, .2);
  color: darken(#fff, 5%);
  text-decoration: none;
  transition: all 150ms linear;
}

.button{
  z-index: 5;
  position: absolute;
  top: calc(10% + 75px);
  left:50%;
  transform: translateX(-50%);
  margin-top:20px;
  padding:2px 5px;
  font-size: 16px;
  width:210px;
}

.button:hover {
  background: darken($orange, 3%);
  border: 1px solid rgba(#000, .05);
  box-shadow: 1px 1px 2px rgba(#000, .2);
  color: darken(#fff, 5%);
  text-decoration: none;
  transition: all 150ms linear;
}

.sign-in-button{
  width:300px;
  margin-bottom: 10px;
}

#wrapper{
  background-color: $grey;
  .value-prop{
    img{
      display: block;
      margin: 0 auto 20px auto;
      max-width:350px;
    }
    div{
      margin: 0 auto 30px auto;
      max-width:400px;
      h4{
        padding:0 20px 10px 20px;
        font-weight: 600;
        text-align: left;
      }
      div{
        padding:0 20px;
      }
    }
  }
}


@media (min-width:500px){
  #login-nav{
    height:65px;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;

    #logo{
      margin-left: 10px;
      margin-top: 15px;
      display: inline-block;
    }

    #logo-partial{
      display: none;
    }

    #sign-in-block{
      #sign-in{
        display: inline-block;
        font-weight: 600;
        margin-top: 15px;
      }
      #nav-sign-up{
        margin-top: 15px;
      }
    }
  }



  .button{
    width:230px;
    bottom:auto;
    top:calc(10% + 80px);
  }

  #hero-text{
    #hero-tag{
      font-size: 1.75em;
      width:400px;
    }

    #tag-line{
      position:absolute;
      top:calc(10% + 65px);
      left:50%;
      transform: translateX(-50%);
      font-size: 18px;
      text-align: center;
      width:400px;
      line-height: 26px;
      display: none;
    }
  }
}



@media (min-width:1000px){
  #login-nav{
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    left:50%;
    transform: translateX(-50%);

    #logo{
      margin-left: 10px;
      display: inline-block;
    }

    #logo-partial{
      display: none;
    }
  }

  #spacer{
    background: $grey;
    position: relative;
    display:inline-block;
    width:20%;
    height:80vh;
  }

  #hero {
    position:relative;
    display:inline-block;
    width:80%;
    height:80vh;
    background-image: url("img/heroFull.png");
    background-size: auto 100%;
    background-position: left top;
    background-repeat: no-repeat;
  }

  #hero-text{
    position: absolute;
    top:0;
    max-width: 1640px;
    height:80vh;
    width:100%;
    margin: 0 auto;
    position: absolute;
    left:50%;
    transform: translateX(-50%);

    #hero-tag{
      position: absolute;
      top:25%;
      left:9%;
      font-size: 2.125em;
      width:400px;
      text-align: left;
      line-height: 1.25em;
      color:$darkgrey;
      transform: none;

    }

    #tag-line{
      position:absolute;
      top:calc(25% + 115px);
      font-size: 20px;
      width:450px;
      line-height: 26px;
      left:9%;
      transform:translateX(0);
      text-align: left;
      display: block;
    }

    .button{
      width:230px;
      bottom:auto;
      top:calc(25% + 190px);
      left:0;
      margin:0;
      left:9%;
      transform: translateX(0);
    }
  }

  #wrapper{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom:50px;
    display: flex;
    padding-bottom:100px;

    .value-prop{
      position:relative;
      margin:0 1.5%;
      height:auto;
      width:30%;
      line-height: 1.675em;

      img{
        width:90%;
        padding: 5%;
        margin-bottom: 20px;
      }
      .value-prop-text{

        h4{
          font-size: 20px;
          padding:0 20px 10px 20px;
          font-weight: 600;
        }
        .point{
          padding:0 20px;
        }
      }
    }
  }
}

@media (max-height:800px) and (min-width:1000px){
  #hero-text{

    #hero-tag{
      font-size: 2.125em;
      width:400px;
      line-height: 1.25em;
    }

    #tag-line{
      font-size: 18px;
      width:300px;
      line-height: 26px;
    }

    .button{
      top:calc(25% + 210px);
    }
  }
}
