$orange: #FF8A65;

#content{
  width:100%;
  margin-top: 85px;
  background-image: url("img/pattern.png");
  background-repeat: repeat;
  padding-top: 20px;
}

.match-card{
  background: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
  border-radius: 3px;
  width:calc(100% - 20px);
  padding: 0 10px;
  margin:20px 0;
}

.type{
  margin-top: 10px;
  margin-bottom:20px;
  font-size: 0.875em;
}

.story-title{
  font-size: 1.5em;
  margin: 0;
  padding:0;
}

.author-name{
  color:$orange;
  margin: 0;
  padding:0;
  font-size: 1.125em;
}


/* Rectangle 3 Copy 12: */
// .match-card{
//   background: #FFFFFF;
//   box-shadow: 0 2px 4px 0 rgba(0,0,0,0.09);
//   border-radius: 3px;
//   padding:20px;
//   margin-bottom: 40px;
//
// }
//
// .top-row{
//   display: flex;
//   flex-direction: row;
//   margin-bottom:60px;
// }
//
// .bottom-row{
//   display: flex;
//   flex-direction: row;
// }
//
// .column-left{
//   width:160px;
//   display: inline-block;
//   padding-right: 10px;
//   font-size: 1em;
// }
//
// .column-right{
//   min-width:160px;
//   display: inline-block;
//   padding: 0 20px;
// }
//
// .story-title{
//
// }
//
// .type{
//
// }
