$orange: #FF8A65;
$grey: #AEAEAE;

label{
  display:block;
}

.hidden{
  display:none;
}

#sign-up-background{
  width:100%;
  height:100vh;
  background-image: url("img/pattern.png");
  background-repeat: repeat;
}

form{
  position: absolute;
  left:50%;
  top:50%;
  overflow:hidden;
  width:100%;
  height:100%;
  transform:  translate(-50%,-50%);
  max-width: 600px;

  #sign-up-progress-bar{
    padding: 0 50px;
    //display:none;
    max-width: 600px;
    position:relative;
  }

  #cards{
    position:relative;
  }
}

.block-1{
  margin-left: 10px;
  box-shadow: 2px 0px 4px rgba(0,0,0,0.1) !important;
}

.block-2{
  margin-left: 20px;
  box-shadow: -5px 10px 35px rgba(0,0,0,0.3) !important;
}

.block-3{
  margin-left: 20px;
  box-shadow: none !important;
}

.input-block{
  position:absolute;
  width:calc(90% - 40px);
  height:500px;
  max-height:500px;
  max-width: 360px;
  padding:20px 40px;
  //transform:  translate(-50%,-50%) rotateY(0deg);
  background: #fff;
  border-radius: 3px;
  box-shadow: 2px 0px 4px rgba(0,0,0,0.1) ;
  transition: all 0.5s ease-in;
  backface-visibility: hidden;
  transform: translate(0,0) rotate(0);

  .block-number{
    text-align: right;
  }

  h3{
    text-align: center;
    margin-bottom:20px;
  }

  .input-group{
    width:100%;
    margin:0 auto;
  }

  input{
    border:none;
    border-bottom:1px solid $grey;
    padding:10px;
    font-size: 1em;
    display:block;
    margin-bottom:10px;
    width:calc(100% - 20px);
  }

  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  input:focus{
    outline: none !important;
    border:none;
    border-bottom:1px solid $orange;
  }

  .dropdown{
    margin-bottom:10px;
  }

  .dropdown select{
    border-radius: 3px;
    padding:10px;
    width:100%;

    option:focus{
      outline: none !important;
      border:1px solid $orange;
    }
  }

  .dropdown select:focus{
    padding:10px;
    width:100%;
    outline: none !important;
    border:1px solid $orange;
  }

  textarea{
    width:calc(100% - 8px);
    height:280px;
    resize: none;
    font-size: 16px;
    font-family: Lato;
  }

  #b-day{

  }

  .thirds{
    border:1px solid $grey;
    float:left;
    width:calc(33% - 29px);
    border-radius: 3px;
  }

  .thirds-margin{
    margin-right: 11px;
  }

  .next-button{
    position:absolute;
    bottom:40px;
    // font-size: 16px;
    // font-family: aleoregular;
    // color:#fff;
    // text-align: center;
    // background-color: $orange;
    // border-radius: 3px;
    // border:1px solid $orange;
    // margin-top:20px;
     width:calc(100% - 105px);
    // padding:2px 10px;
    // cursor:pointer;

    text-decoration: none;
    font-family: aleoregular;
    color:#fff;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    background-color: $orange;
    border-radius: 3px;
    border:1px solid $orange;
    padding:2px 10px;
    cursor:pointer;
    //box-shadow: 0 2px 4px rgba(0,0,0,0.29);
    border: 1px solid rgba(#000, .05);
    background-image:linear-gradient(-180deg,#FD9C7D 0%, $orange 100%);
  }
//#FFB793
  .next-button:hover {
    background: darken($orange, 3%);
    border: 1px solid rgba(#000, .05);
    //box-shadow: 1px 1px 2px rgba(#000, .2);
    color: darken(#fff, 5%);
    text-decoration: none;
    transition: all 150ms linear;
  }

  .real-button{
    width:calc(100% - 82px);
    padding:7px 10px 8px 10px;
  }

  .ember-radio-button{
    input{
      display: inline;
      border:none;
      border-bottom:1px solid $grey;
      padding:0px;
      font-size: 1em;
      margin-bottom:0px;
      width:auto;
    }

    .radio-label{
      display: inline;
    }
  }
}

.page-turn{
  //transform: translate(-300%,-50%) rotateY(180deg);
  transform:rotate(-30deg);
  left:-600px;
}


@media (min-width:600px){
  form{
    #sign-up-progress-bar{
      display:block;
    }
  }
}
