{{partial 'navbar'}}

<div id="critiques">
  <div id="critique-tabs">
    <ul>
      <li class="selected">Current Critiques</li>
      <li>Past Critiques</li>
    </ul>
    <hr/>
  </div>

  <div id="current">
    {{critique-card}}
  </div>
  <div id="past">

  </div>

  {{partial 'footer'}}
</div>
