<footer id="footer">
  <ul id="footer-links">
    <li><a href="#">About</a></li>
    <li><a href="#">FAQ</a></li>
    <li><a href="#">Critique Help</a></li>
    <li><a href="#">Terms and Conditions</a></li>
    <li><a href="#">Contact</a></li>

  </ul>
  <div id="social-block">
    <img class="social-icon" src="assets/img/Facebook.svg"/>
    <img class="social-icon" src="assets/img/Twitter.svg"/>
  </div>
  <div id="copyright">
    	&copy; Second Read 2017
  </div>
</footer>
