{{render 'navbar'}}
<div id="content">

   {{#each model as |story|}}
   {{match-card
     title=story.title
     author=story.author
     date=story.date
     pagesInManuscript=story.pagesInManuscript
     numberOfReaders=story.numberOfReaders
     descriptionPart=story.descriptionPart
     descriptionFull=story.descriptionFull
     instructions=story.instructions
     tags=story.tags
     tagsColumn=story.tagsColumn
   }}
  {{else}}
    No matches found
  {{/each}}
</div>
