<nav>
  <ul>
    <li>
      {{#link-to "matches" }} Matches{{/link-to}}
    </li>
    <li>
      {{#link-to "projects" }} My Projects{{/link-to}}
    </li>
    <li>
      {{#link-to "critiques" }} Critiques{{/link-to}}
    </li>
    {{#if session.isAuthenticated}}
      <li>
        <button {{action 'logout'}}>Logout</button>
      </li>
    {{/if}}
  </ul>
</nav>
