<nav>
  <div id="nav-content">
    <ul>
      <li>
        {{#link-to "matches" }} Matches{{/link-to}}
      </li>
      <li>
        {{#link-to "projects" }} Add a Novel{{/link-to}}
      </li>
      <li>
        {{#link-to "projects" }} My Novels{{/link-to}}
      </li>
      <li>
        {{#link-to "critiques" }} Critiques{{/link-to}}
      </li>
    </ul>
  </div>
</nav>
