<nav>
  <ul>
    <li>
      {{#link-to "matches" }} Matches{{/link-to}}
    </li>
    <li>
      {{#link-to "projects" }} My Projects{{/link-to}}
    </li>
    <li>
      {{#link-to "critiques" }} Critiques{{/link-to}}
    </li>
  </ul>
</nav>
