<nav>
  <div id="nav-content">
    {{#link-to "matches" }}
      <img src="assets/img/logoFull.svg" id="logo"/>
      <img src="assets/img/logo.svg" id="logo-partial"/>
    {{/link-to}}

    <img src="assets/img/profilePic.svg" id="profile-pic"/>

    <div id="icon-block">
      <img src="assets/img/notifications.svg" class="nav-icons"/>
      <img src="assets/img/messageIcon.svg" class="nav-icons"/>
    </div>

    <ul>
      <li id="matches-link">
        {{#link-to "matches" id="matches-link"}} Matches{{/link-to}}
      </li>
      <li id="newproject-link">
        {{#link-to "newproject" id="newproject-link"}} Add a Novel{{/link-to}}
      </li>
      <li id="my-novels-link">
        {{#link-to "projects" }} My Novels{{/link-to}}
      </li>
      <li id="critiques-link">
        {{#link-to "critiques" }} Critiques{{/link-to}}
      </li>
    </ul>
  </div>

  <script >

  </script>
</nav>
