{{partial 'navbar'}}

<div>
  Upload your manuscript
  <div class="input-instruct">
    This is the full manuscript that approved readers will critique.
  </div>
</div>

<div>
  Upload your preview
  <div class="input-instruct">
    This is the excerpt that a potential reader will review. It can be a few pages or an entire chapter.
  </div>
</div>
